.img-movie{
  width: 280px;
  height: 400px;
}
.list-movie{
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
}
.movie-card{
  margin:45px;
  border:2px solid brown;
}
.search-movie{
  margin:10px 130px;
  width:900px;
}
.btn-modal{
  width: 280px;
  height: 300px;
 
}
.icon{margin: 0px 75px;
  /* width: 100px; */
}